# Varsayılan sayfa ayarı
DirectoryIndex index.html

# Diğer kurallarınız buraya gelebilir
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html[L]
